body{
	padding: 0px;
	margin: 0px;
	background: #e1e1e1;
}
.header{
	background: rgba(0, 0, 0, 0.9);
	padding: 6px 24px;
	text-align: left;
	color: white;
	margin: 0px;
	letter-spacing: 1px;
	font: caption;
	font-size: 24px;
	text-transform: uppercase;
}
.video-container{
	position: relative;
	z-index: -1;
	top: 0px;
}
.video-container iframe{
	width: 100%;
	height: 90vh;
}
.content1{
	padding: 0px 24px;
	text-align: justify;
	font-size: 20px;
}
#navbar{
	background: #20B2AA;
	overflow: hidden;
}
#navbar a{
	float: left;
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}
.content{
	padding: 16px;
}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .content{
	padding-top: 60px;
}