html {
  margin: 0 !important;
  overflow: auto !important;
}
body {
  color: #5E5C7F;
  background-color: #F9F9FF;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.relative {
  position: relative;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  color: #454360;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 20px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: #FF4C60;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #353353;
  text-decoration: none;
}

header.desktop-header-1 {
  color: #FFF;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
  background: #353353;
  padding: 50px 40px 40px;
  position: fixed;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  min-height: 100vh;
  top: 0;
  width: 290px;
  z-index: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header.desktop-header-1 .vertical-menu {
  list-style: none;
  padding: 0;
  margin-bottom: 90px;
  margin-top: 70px;
}
header.desktop-header-1 .vertical-menu li {
  padding: 8px 0;
  position: relative;
  list-style: none;
}
header.desktop-header-1 .vertical-menu li a:hover {
  color: #FFD15C;
}
header.desktop-header-1 .vertical-menu li i {
  color: #FFD15C;
  margin-right: 20px;
}
header.desktop-header-1 .vertical-menu li a {
  color: #FFFFFF;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
  position: relative;
}
header.desktop-header-1 .vertical-menu li .nav-link.active{
  color: #FFD15C;
} 
header.desktop-header-1 .left-title {
  font-size: 33px;
  font-weight: 700;
  font-family: "Rubik";
  text-decoration: none;
  position: relative;
}
header.desktop-header-1 .footer {
  margin-top: auto;
}
header.desktop-header-1 .copyright {
  color: #9C9AB3;
  font-size: 14px;
}
footer.footer {
  background: #353353;
  padding: 40px 0;
  text-align: center;
}
main.content {
  margin-left: 290px;
}
section {
  padding-top: 110px;
  position: relative;
}
section.home {
  background: #353353;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}
section.home .intro {
  margin: auto;
  max-width: 540px;
  text-align: center;
  position: relative;
  z-index: 1;
}
section.home .intro h1 {
  color: #FFF;
  font-size: 36px;
}
section.home .intro span {
  color: #FFF;
  font-size: 16px;
}
section.home .social-icons li a {
  color: #FFF;
}
section.home .social-icons li a:hover {
  color: #FFD15C;
}
.social-icons li a {
  font-size: 24px;
  text-decoration: none;
}
.social-icons li a:hover {
  color: #FFD15C;
}
.btn {
  border-radius: 30px;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  padding: 12px 32px;
  position: relative;
}
.btn-default {
  color: #FFF;
  background: #FF4C60;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.btn-default:hover {
  color: #FFF;
}
.section-title {
  font-size: 36px;
  margin: 0;
  margin-left: 14px;
  position: relative;
}
.section-title:before {
  content: "";
  background-image: url(../Assets/dots-bg.svg);
  display: block;
  height: 37px;
  left: -14px;
  top: -14px;
  position: absolute;
  width: 37px;
}
.spacer {
  clear: both;
}
.skill-item .skill-info h4 {
  font-size: 16px;
  font-weight: 500;
}
.skill-item .skill-info span {
  font-size: 14px;
}
.triangle-left:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #FFF;
  position: absolute;
  left: -15px;
  top: 20%;
}
.triangle-top:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-7.5px);
}
.morphext > .animated {
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  header.desktop-header-1 {
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    -ms-transform: translateX(-290px);
    -o-transform: translateX(-290px);
    transform: translateX(-290px);
  }
  main.content {
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  section.home {
    padding: 300px 0;
  }
  section.home .cta h1 {
    font-size: 52px;
  }

  section.home .cta p {
    font-size: 18px;
  }
  .triangle-top-sm:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-7.5px);
  }
}
.timeline {
  position: relative;
}
.timeline .timeline-container {
  padding-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  background-color: inherit;
  width: 100%;
}
.timeline .content {
  position: relative;
}
.timeline .content .time {
  color: #8B88B1;
  font-size: 14px;
}
.timeline .content h3 {
  font-size: 20px;
  margin: 10px 0;
}
.timeline .content p {
  margin: 0;
}
.timeline span.line {
  position: absolute;
  width: 1px;
  background-color: #FF4C60;
  top: 30px;
  bottom: 30px;
  left: 34px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 920px;
  }
  .triangle-left-md:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #FFF;
    position: absolute;
    left: 0;
    top: 20%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 920px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1080px;
  }
}
